* {
  box-sizing: border-box;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

button:not(:disabled):hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

button {
  transition: all 0.2s ease;
}

